.hander{
			border: 1px solid red;
			background: green;
			position: relative;
			height: 100px;
			width: 100%;
		}
		.son{
			border: 1px solid red;
			background: lightgray;
			height: 500px;
		}
		.d1{
			border: 1px solid yellow;
			background: #369;
		}

		.d2{
			border: 1px solid yellow;
		}

		.d3{
			border: 1px solid yellow;
			background: #369;
		}

		/*用table实现左右两列定宽 中间一列姿势用*/
		/*.son{width:100%;display:table;table-layout:fixed} 
		.d1,.d2,.d3{display:table-cell;} 
		.d1{width:300px;} 
		.d3{width:300px;}*/
		
		/*利用flex实现两列定宽 中间一列姿势用*/
		.son{display:flex;} 
		.d1{width:300px;} 
		.d2{flex:1;} 
		.d3{width:300px;}

		input{
			display: block;
		}